:root {
    --background-color: #2EC4B6;
    --legend-color: #E0E1DD;
    --letter-color: #0D1B2A;
    --button-color: #1D3557;
    --button-color-hover: #457B9D;
    --barra-fixa: #ddd;
    --barra-verde: #27ae60;
    --barra-amarela: #f2c94c;
    --barra-vermelha: #eb5757;
}

:root {
    --title: @import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
    --subtitle: @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    --paragraph: @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    --button: @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}

body {
    background-color: var(--background-color);
    font-size: "Inter", sans-serif;
    color: var(--background-color);
    padding: 2rem;
}

header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
}

.title {
    padding-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    color: var(--letter-color);
}

.subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: var(--legend-color);
}

main {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
}

.content .password {
    flex: 1;
}

.content .password input {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    color: var(--letter-color);
    border: none;
    outline: none;
    cursor: default;
    height: 52px;
    width: 100%;
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content .action button img {
    height: 52px;
}

.content .action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.bar {
    width: 90%;
}

.securityIndicator {
    height: 10px;
    background-color: var(--barra-verde);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.securityIndicator .bar {
    height: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2s;
}

.securityIndicator .bar .completed {
    border-top-right-radius: 0;
}

.securityIndicator .bar .critical {
    background-color: var(--barra-vermelha);
}

.securityIndicator .bar .warning {
    background-color: var(--barra-amarela);
}

.securityIndicator .bar .safe {
    background-color: var(--barra-amarela);
}